.super-mario {
width:200px;
position: absolute;
z-index: 2;
}

.goomba {
width:150px;
position: absolute;
top: 370px;
left: 30px;
z-index: 1;
}

.baloon {
width:250px;
position: absolute;
top: 100px;
left:280px;
z-index: 4;

}

.bowser {
width:350px;
position: absolute;
top: ;
left:500px;
z-index: 3;
}

.word {
position: absolute;
top: 130px;
left:320px;
z-index: 5;
}